@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

* {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin: 100px;
}


body {
  background-image: url('https://images.unsplash.com/photo-1574267432309-3c7d5ed31b9e?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #f53303;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  
}


h1 {
  font-family: "Monoton", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 80px;
  margin-top: 50px;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  top: 40px;
  color: #fcf9f7;

}

h2 {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 40%;
  left: 0%;

}


#showAllButton {
  font-size: 24px;
  border: #f25f04 solid;
  border-radius: 18px;
  position: relative;
  bottom: 80px;
  height: 50px;
  width: 290px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
}


#movies-container>div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* Espaçamento entre os cards */
  flex-wrap: wrap;
  /* Permite que os cards sejam distribuídos em várias linhas */
}


.card {
  justify-content: center;
  align-items: center;
  width: calc(25% - 20px);
  /* Reduzindo a largura dos cards para 25% */
  color: aliceblue;
  background-color: red;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 0; 
  right: 0;
}


.card h3 {
  font-size: 16px;
  color: whitesmoke;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: whitesmoke;
}

.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(25% - 5px);
  left: 40%;
  right: 50%;
  color: aliceblue;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: rgb(157, 5, 5)
}


#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 70px;
}

footer {
  margin-top: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: beige;
  margin-bottom: 4px;
  width: 100%;
  background: grey;
  box-shadow: -6px 6px 9px #ff3002, 6px -6px 9px #666;
  text-align: center;
}